[submodule "3rdlibs/SDL3"]
	path = 3rdlibs/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdlibs/SDL3_image"]
	path = 3rdlibs/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "3rdlibs/entt"]
	path = 3rdlibs/entt
	url = https://github.com/skypjack/entt.git
[submodule "3rdlibs/toml++"]
	path = 3rdlibs/toml++
	url = https://github.com/marzer/tomlplusplus.git
[submodule "3rdlibs/mathfu"]
	path = 3rdlibs/mathfu
	url = https://github.com/google/mathfu.git
[submodule "3rdlibs/SDL3_ttf"]
	path = 3rdlibs/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "3rdlibs/SLikeNet"]
	path = 3rdlibs/SLikeNet
	url = https://github.com/ChaseOne1/SLikeNet.git
[submodule "3rdlibs/MiragineWarProtocol"]
	path = 3rdlibs/MiragineWarProtocol
	url = https://github.com/ChaseOne1/MiragineWarProtocol.git
[submodule "3rdlibs/sol2"]
	path = 3rdlibs/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "3rdlibs/mirrow"]
	path = 3rdlibs/mirrow
	url = https://github.com/VisualGMQ/mirrow.git
